---
import { Icon } from "astro-icon/components";
---

<section id="services" class="bg-gray-50 py-20 px-6">
    <div class="max-w-7xl mx-auto text-center">
        <h2 class="text-4xl font-extrabold text-gray-900 mb-4">Gardiennage</h2>
        <p class="text-gray-600 max-w-2xl mx-auto mb-12 text-xl">
            Nous attachons une importance particulière à la qualité de nos
            agents et veillons à ce qu'ils respectent certains points
            essentiels.
        </p>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
            <div
                class="overflow-hidden text-center bg-white rounded shadow-md text-slate-500 shadow-slate-200"
            >
                <!-- Icon -->
                <div class="text-red-600 w-18 h-18 m-auto mt-3">
                    <Icon name="mdi:account-supervisor" class="w-full h-full" />
                </div>
                <!-- Body-->
                <div class="p-6">
                    <h3 class="mb-4 text-xl font-medium text-slate-700">
                        Carte Professionnelle
                    </h3>
                    <p>
                        Être titulaire de la carte professionnelle obligatoire
                    </p>
                </div>
            </div>

            <div
                class="overflow-hidden text-center bg-white rounded shadow-md text-slate-500 shadow-slate-200"
            >
                <!-- Icon -->
                <div class="text-red-600 w-18 h-18 m-auto mt-3">
                    <Icon name="mdi:check" class="w-full h-full" />
                </div>
                <!-- Body-->
                <div class="p-6">
                    <h3 class="mb-4 text-xl font-medium text-slate-700">
                        Respect des Consignes
                    </h3>
                    <p>Connaître, comprendre et appliquer les consignes</p>
                </div>
            </div>

            <div
                class="overflow-hidden text-center bg-white rounded shadow-md text-slate-500 shadow-slate-200"
            >
                <!-- Icon -->
                <div class="text-red-600 w-18 h-18 m-auto mt-3">
                    <Icon name="mdi:shield-outline" class="w-full h-full" />
                </div>
                <!-- Body-->
                <div class="p-6">
                    <h3 class="mb-4 text-xl font-medium text-slate-700">
                        Gestion de Conflits
                    </h3>
                    <p>Être en mesure de gérer des situations d'agressivité</p>
                </div>
            </div>

            <div
                class="overflow-hidden text-center bg-white rounded shadow-md text-slate-500 shadow-slate-200"
            >
                <!-- Icon -->
                <div class="text-red-600 w-18 h-18 m-auto mt-3">
                    <Icon name="mdi:alert" class="w-full h-full" />
                </div>
                <!-- Body-->
                <div class="p-6">
                    <h3 class="mb-4 text-xl font-medium text-slate-700">
                        Moyens de Protection
                    </h3>
                    <p>Non porteurs de moyens de protection et défense</p>
                </div>
            </div>

            <div
                class="overflow-hidden text-center bg-white rounded shadow-md text-slate-500 shadow-slate-200"
            >
                <!-- Icon -->
                <div class="text-red-600 w-18 h-18 m-auto mt-3">
                    <Icon name="mdi:eye-settings" class="w-full h-full" />
                </div>
                <!-- Body-->
                <div class="p-6">
                    <h3 class="mb-4 text-xl font-medium text-slate-700">
                        Neutralité
                    </h3>
                    <p>Aucun signe ostentatoire</p>
                </div>
            </div>

            <div
                class="overflow-hidden text-center bg-white rounded shadow-md text-slate-500 shadow-slate-200"
            >
                <!-- Icon -->
                <div class="text-red-600 w-18 h-18 m-auto mt-3">
                    <Icon name="mdi:heart" class="w-full h-full" />
                </div>
                <!-- Body-->
                <div class="p-6">
                    <h3 class="mb-4 text-xl font-medium text-slate-700">
                        Condition Physique
                    </h3>
                    <p>Bonne santé physique</p>
                </div>
            </div>

            <div
                class="overflow-hidden text-center bg-white rounded shadow-md text-slate-500 shadow-slate-200"
            >
                <!-- Icon -->
                <div class="text-red-600 w-18 h-18 m-auto mt-3">
                    <Icon name="mdi:alert-circle" class="w-full h-full" />
                </div>
                <!-- Body-->
                <div class="p-6">
                    <h3 class="mb-4 text-xl font-medium text-slate-700">
                        Sang-froid
                    </h3>
                    <p>Savoir faire preuve de sang-froid</p>
                </div>
            </div>

            <div
                class="overflow-hidden text-center bg-white rounded shadow-md text-slate-500 shadow-slate-200"
            >
                <!-- Icon -->
                <div class="text-red-600 w-18 h-18 m-auto mt-3">
                    <Icon name="mdi:tshirt-crew" class="w-full h-full" />
                </div>
                <!-- Body-->
                <div class="p-6">
                    <h3 class="mb-4 text-xl font-medium text-slate-700">
                        Tenue
                    </h3>
                    <p>
                        Tenue réglementaire sans aucune confusion possible avec
                        celles des agents des services publics
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
