---
/**
 * Composant logo texte
 * Usage: <Logo />
 */
---

<span>
    <span class="text-red-600">B</span><span class="text-black"
        >G2</span><span class="text-red-600">S</span>
    </span>
</span>
