---
import { Icon } from "astro-icon/components";
import Logo from "../components/Logo.astro";
---

<section class="bg-gray-100 py-20 px-6" id="telesurveillance">
    <div class="max-w-7xl mx-auto text-center mb-12">
        <h2 class="text-4xl font-extrabold text-gray-900 mb-4">
            Télésurveillance
        </h2>
        <p class="text-gray-700 max-w-3xl mx-auto text-xl">
            <span class="font-semibold"><Logo /></span> propose des services de Télésurveillance
            APSAD P5 opérés par <strong>TELESURE</strong>, expert en solution de
            télésurveillance et de traitement des images à distance.
        </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-2 gap-6 max-w-7xl mx-auto">
        <div
            class="overflow-hidden text-center bg-white rounded shadow-md text-slate-500 shadow-slate-200"
        >
            <div class="text-red-600 w-18 h-18 m-auto mt-3">
                <Icon name="mdi:office-building" class="w-full h-full" />
            </div>
            <div class="p-6">
                <h3 class="mb-4 text-xl font-medium text-slate-700">
                    Infrastructure
                </h3>
                <ul
                    class="text-gray-700 list-disc list-inside space-y-1 text-start text-justify"
                >
                    <li>Accès réglementé par badge</li>
                    <li>
                        SAS blindé et murs d'enceintes blindés en parpaings
                        pleins
                    </li>
                    <li>
                        Caméras de surveillance sur toutes les portes d'accès
                        aux locaux, surveillance 24/7 des accès par les
                        opérateurs du centre
                    </li>
                    <li>
                        Surveillance incendie et surveillance intrusion,
                        centrale SIEMENS
                    </li>
                </ul>
            </div>
        </div>

        <div
            class="overflow-hidden text-center bg-white rounded shadow-md text-slate-500 shadow-slate-200"
        >
            <div class="text-red-600 w-18 h-18 m-auto mt-3">
                <Icon name="mdi:lightning-bolt" class="w-full h-full" />
            </div>
            <div class="p-6">
                <h3 class="mb-4 text-xl font-medium text-slate-700">
                    Alimentation électrique
                </h3>
                <ul
                    class="text-gray-700 list-disc list-inside space-y-1 text-start text-justify"
                >
                    <li>Contrôle de conformité annuel réalisé par l'APAVE</li>
                    <li>Onduleurs permettant 10 minutes d'autonomie</li>
                    <li>
                        Groupe électrogène, autonomie de 96H, tests
                        hebdomadaires de 15 minutes en contrat avec astreinte
                        24/7
                    </li>
                </ul>
            </div>
        </div>

        <div
            class="overflow-hidden text-center bg-white rounded shadow-md text-slate-500 shadow-slate-200"
        >
            <div class="text-red-600 w-18 h-18 m-auto mt-3">
                <Icon name="mdi:server" class="w-full h-full" />
            </div>
            <div class="p-6">
                <h3 class="mb-4 text-xl font-medium text-slate-700">
                    Salle serveur
                </h3>
                <ul
                    class="text-gray-700 list-disc list-inside space-y-1 text-start text-justify"
                >
                    <li>Salle climatisée avec accès réglementé</li>
                    <li>
                        Backup interne de chaque serveur par un serveur de
                        secours
                    </li>
                    <li>
                        NAS de sauvegarde avec copie d'image de tous les
                        serveurs
                    </li>
                    <li>
                        Réseau dédié à la gestion des alarmes, firewall et
                        antivirus administrés
                    </li>
                    <li>Backup maillée</li>
                </ul>
            </div>
        </div>

        <div
            class="overflow-hidden text-center bg-white rounded shadow-md text-slate-500 shadow-slate-200"
        >
            <div class="text-red-600 w-18 h-18 m-auto mt-3">
                <Icon name="mdi:desktop-classic" class="w-full h-full" />
            </div>
            <div class="p-6">
                <h3 class="mb-4 text-xl font-medium text-slate-700">
                    Poste opérateur
                </h3>
                <ul
                    class="text-gray-700 list-disc list-inside space-y-1 text-start text-justify"
                >
                    <li>
                        5 postes de travail complets équipés de double-écrans
                        DELL
                    </li>
                    <li>
                        Postes en spare en cas de dysfonctionnement d'un poste
                        opérateur
                    </li>
                    <li>Back up opérationnel avec le centre de secours</li>
                    <li>Logiciel de gestion opératif</li>
                    <li>Baie de réception des alarmes multi-protocolaire</li>
                    <li>Logiciel de levée de doutes vidéo</li>
                </ul>
            </div>
        </div>
    </div>

    <div
        class="bg-gradient-to-br from-gray-900 via-[#1b0d1c] to-red-900 text-white rounded-xl mt-16 py-10 px-8 text-center max-w-6xl mx-auto"
    >
        <h3 class="text-2xl font-semibold mb-3">Partenariat TELESURE</h3>
        <p>
            Nos services de télésurveillance sont opérés par TELESURE,
            garantissant une expertise reconnue et une certification APSAD P5
            pour votre sécurité.
        </p>
    </div>
</section>
