---
import "../styles/global.css";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BG2S</title>
    <meta
      name="description"
      content="BG2S : expert en sécurité globale pour particuliers, entreprises et collectivités. Gardiennage, ronde, télésurveillance, installation de systèmes d’alarme et intervention rapide. Services sur mesure, équipes formées, service d’excellence."
    />
    <meta
      name="keywords"
      content="sécurité, surveillance, gardiennage, rondes, télésurveillance, BG2S, sécurité privée, protection, entreprises, collectivités"
    />
    <meta name="author" content="Bastien NIZART" />
    <meta name="robots" content="index, follow" />
  </head>
  <body>
    <slot />
    <script
      defer
      src="https://umami.nizart.me/script.js"
      data-website-id="af30e87b-f360-48a0-b7e6-d68648614351"></script>
  </body>
</html>
